</main>
<main>
	<div id="events-show">
		<div class="container-fluid">
			<div id="event-intro" class="row">
				<h1 class="event-title"><%= @event.name %></h1>
				<p class="event-date"><%= @event.date %> <%= @event.time %></p>
				<div class="cover" style="background-image: url('<%= @event.image %>');"></div>
			</div>
		</div>
		<div id="event-body" class="container" ng-app="eventsApp">			
			<div class="row">
				<div id="description" class="col-sm-12">
					<%= @event.description %>
				</div>
				<div id="tickets" class="col-sm-12" ng-controller="TicketsController">
				<%= javascript_tag "initCart(#{@event.tickets.to_json.html_safe});" %>			
					<h3>Get your tickets</h3>
					<div class="table-responsive">
					<table class="table">		
						<thead class="thead-default">
							<th>Ticket</th>			
							<th>Price</th>
							<th>Total</th>
							<th>Quantity</th>
						</thead>
						<tbody>							
							<tr class="ticket" ng-repeat="ticket in cart">
							<td class="description">
								<b>{{ticket.name}}</b>
								<p>{{ticket.description}}</p>
								</td>								
							<td>{{ticket.price | currency : "$" : 0}}</td>
							<td>{{ticket.buy_total_price | currency : "$" : 0}}</td>
							<td>		
								<div ng-if="ticket.buy_quantity > 0" class="">
									<input type="text" disabled="" value="{{ticket.buy_quantity}}">
									  <button ng-click="addTicket(ticket)" type="button" class="btn btn-primary btn-sm">+</button>
									<button ng-click="subtractTicket(ticket)" type="button" class="btn btn-danger btn-sm">-</button>
								</div>															
								<div ng-if="ticket.buy_quantity == 0">
									<button ng-click="addTicket(ticket)" type="button" class="btn btn-primary btn-sm">Agregar Ticket</button>
								</div>
							</td>
							</tr>							
						</tbody>
					</table>
					<%= csrf_meta_tags %>					
					</div>
				</div>
			</div>			
		</div>		
	</div>